*{
	margin:0;
	padding: 0;
}

body{
	margin: 0;
	font-family: verdana, arial, sans-serif;
	background-color: #9d693d;
}
html, body{
	font-size: 100%;
	height:100%;	
}

.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
}

.row{
	margin:0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-5, .col-xs-6{
	padding:0.1em;
}

.col-sm-12{
	padding:0;
}

#user, #pass{
	text-align: right;
	padding-top: 0.5em;
}

#username{
	margin-top: 0.5em;
	color: black;

}
#password{
	margin-left: 0.5%;
	color: black;
}
#submit{
	margin:;
}

.loggedIn{
	display: block;
}

#logExtra{
	display: block;
	background-color: #8a6544;

}

#logExtra a{
	color: white;
}

#ltext{
	display: block;
	margin:0;
	color: white;
	cursor: pointer;
}

#ntext{
	display: none;
}

#ntext a{
	text-decoration: none;
	padding: 0.2em 1em;
	text-align: center;
	border-radius: 0.5em;
	color: white;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: #f5f5f5;*/
}

#topLog{
	padding-bottom: 0.8em;
}

#logoImg{
	max-width: 100%;
	height:5em;
	padding-bottom: 0.3em; 
}

#twitter, #facebook{
	max-width: 100%;
	height:2em;
}

#socialMedia{
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #9d693d/*#6D4C41*/;
	padding-top: 0.2em;
}

#upper{
	min-height:100%;
	margin-bottom: -1em;
	background-color: #9d693d /*#78909C*/;
}

#upper:after{
	content: "";
	display: block;
}

#main{
	margin-right: 2.5%;
	margin-left: 2.5%;
	line-height: 1.5em;
	font-size: 0.9em;
	background-color: #c5844d;
	color: white;
	margin-top: 0.2em;
	padding: 0.3em;
}

#main h2{
	text-align: center;
}

#header{
	margin-top: 0;
	padding: 0.6em;
	height: 5em;
	background-color: #9d693d /*#00838F*/;
}

#logoImg{
	float: left;
}

#login{
	float: right;
	font-family: inherit;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 1%;
	margin-top: 1%;
}

#mtitle{
	font-family: inherit;
	text-align: center;
	margin-right: 5em;
	margin-left: 5em;
	color: white;
	font-size: 2em;
}

nav{
	font-family: inherit;
	clear: both;
	border-radius: 0.2em;
	background-color: #7d5430/*#005c48*/;
	color: white;
	margin-top: 0;
}

nav ul{
	overflow: hidden;
	padding: 0.5em;
	text-align: center;
	list-style-type: none;
	margin-top: 0;
}

nav ul li {
	display: inline-block;
	padding: 0.5em;
	vertical-align: top;
}

nav ul li a:hover{
	background-color: lightgrey;
	color: black;
}

nav ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
	text-align: center;
	border-radius: 0.5em;
	color: inherit;
}

	
.hidden{
	max-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
}
	
.hidden li a{
	border: 0;
}
	
.hidden li{
	box-sizing: border-box;
	width: 100%;
	padding: 0.25em;
		
}

.shower{
	overflow: hidden;
	padding: 0.5em;
	text-align: center;
	list-style-type: none;
	margin-top: 0;
}

.shower li {
	display: block;
	padding: 0.5em;
}

.shower li a:hover{
	background-color: lightgrey;
	color: black;
}

.shower li a {
	text-decoration: none;
	padding: 0.2em 1em;
	text-align: center;
	border-radius: 0.5em;
	color: inherit;
}

#footer{
	margin-top: 0.5%;
	background-color: #7d5430;
	overflow: hidden;
	color: white;
}

#copyright{
	background-color: #9d693d/*#6D4C41*/;
	margin-top: 0;
	color: white;
}

#copyright p{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 0.5em;
}

#footer ul{
	overflow: hidden;
	text-align: center;
	list-style-type: none;
}

#footer ul li {
		display: inline-block;
		padding: 0.5em;
}

#footer ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
	text-align: center;
	border-radius: 0.5em;
	color: inherit;
}

#footer ul li a:hover{
	background-color: lightgrey;
	color: black;
}

.handler, .handle{
	width:100%;
	background-color: #7d5430;
	text-align: center;
	font-size: 1.5em;
	box-sizing: border-box;
	padding: 0.5em;
	cursor: pointer;
	color: white;
	display: none;
		
}

@media screen and (max-width: 554px){
	nav{
		max-height: 0;
		border: 0;
		background-color: #8a6544;
	}
	
	nav ul{
		max-height: 0;
		margin: 0;
		padding: 0;
		border: 0;
	}
	
	nav ul li a{
		border: 0;
	}
	
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 0.25em;
		
	}
	
	.shower{
		max-height: 20em;
	}
	.showing{
		max-height: 20em; 
	}
	
	div .handle{
		display: block;
	}

	#mtitle{
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		font-size: 1.5em;
	}
}


@media screen and (max-width: 850px){
	
	#mtitle{
		margin-right: 0;
		margin-left: 0;
	}
	footer #footer{
		max-height: 0;
		border: 0;
		margin: 0;
		padding: 0;
		background-color: #8a6544;
		color: white;
	}
	
	footer #footer ul{
		max-height: 0;
		margin: 0;
		padding: 0;
		border: 0;
	}
	
	footer #footer ul li a{
		border: 0;
		color: inherit;
	}
	
	footer #footer ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 0.25em;	
	}
	
	.show{
		max-height: 20em !important; 
	}
	
	.handler{
		display: block;
	}

}
