{% extends "template.html" %}

{% block title %}{{ super() }}Loading{% endblock %}

{% block page %}Grading.{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}


{% block content %}

  <div id="holder">
    <div id="progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width:0%">
      0%
  </div>

<form>
  <input type="hidden" name="url" id="url" value='{{ quiz }}'>
</form>

<script>    
    window.onload= function upload(){
      //Increase the progress bars width every second to simulate 'Grading'
      var width = 1;
      var c = document.getElementById("progress");
      var speed = 100;
      var id = setInterval(function(){frame(c)},speed);
      function frame(c) {
        //Increase the loading bars width till it reaches 100
        if(width == 100){
          var url = document.getElementById("url").value;
          console.log(url);
          window.location.href = url;
        }
        else{
          changeTitle();
          width++;
          c.style.width = width + '%';
          var v = c.getAttribute("aria-valuenow");
          v = parseInt(v);   
          v += 1;
          v = v.toString();
          c.innerHTML = v + "%";  
          c.setAttribute("aria-valuenow", v);
        }
          
        }

        function changeTitle(){
          // Update the title every time the bar loads to simulate 'Grading'
          var title = document.getElementById("mainTitle").innerHTML;
          if(title == "Grading."){
            document.getElementById("mainTitle").innerHTML = "Grading.."; 
          }
          else if(title == "Grading.."){
            document.getElementById("mainTitle").innerHTML = "Grading...";
          }
          else{
            document.getElementById("mainTitle").innerHTML= "Grading.";
          }
        }
      };
      
    </script> 

{% if error %}
  <p> {{ error }} </p>
{% endif %}

{% endblock %}