{% extends "template.html" %}

{% block page %}Rome Quiz{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}


{% block content %}
<div class="row row-eq-height">
	<div class="col-md-4">
	<div class="thumbnail">
		<a href="/rome_quiz">
			<img src="{{ url_for('static', filename='images/rome.png')}}" alt="Rome" style="max-height: 100%; min-width: 100%;">
			<div class="caption">
				<p>Rome Quiz</p>
			</div>
		</a>
	</div>
	</div>
		<div class="col-md-4">
	<div class="thumbnail">
		<a href="/macedonia_quiz">
			<img src="{{ url_for('static', filename='images/macedonia.png')}}" alt="Macedonia" style="max-height: 100%; min-width: 100%;">
			<div class="caption">
				<p>Macedonia Quiz</p>
			</div>
		</a>
	</div>
	</div>
		<div class="col-md-4">
	<div class="thumbnail">
		<a href="/egypt_quiz">
			<img src="{{ url_for('static', filename='images/eygpt.png')}}" alt="Eygpt" style="max-height: 100%; min-width: 100%;">
			<div class="caption">
				<p>Eygpt Quiz</p>
			</div>
		</a>
	</div>
	</div>
</div>


{% if error %}
  <p> {{ error }} </p>
{% endif %}

{% endblock %}