{% extends "template.html" %}

{% block page %}Register{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}


{% block content %}
<div style="color: black;">
<form action="/register" onsubmit="return validate()" method="post">
  <label for="firstname">Forename:</label>
  <input type="text" name="firstname" pattern="^[a-zA-Z]{5,}$" required>
  <label for="lastname">Surname:</label>
  <input type="text" name="lastname" pattern="^[a-zA-Z]{5,}$" required>
  <label for="email">Email:</label>
  <input type="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
  <label for="username">Username:</label>
  <input type="text" name="username" pattern="^[a-zA-Z0-9]{5,}$" required>
  <label for="password">Password:</label>
  <input type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,}$" required>
  <label for="confirm">Confirm Password:</label>
  <input type="password" name="confirm" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,}$" required>
  <input type="submit" name="submit">
</form>
{% if error %}
  <p> {{ error }} </p>
{% endif %}
</div>
{% endblock %}