{% extends "template.html" %}

{% block title %}{{ super() }}Rome{% endblock %}

{% block page %}Rome{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}


{% block content %}

<article class="land">
	<div class="land-inner">
		<h2>Republic-Empire</h2>
			<p>Pellentesque enim nisi, rutrum sed lacus vitae, sollicitudin laoreet ligula. Vestibulum tincidunt auctor lacus quis viverra. Quisque aliquam hendrerit erat id tincidunt. Nunc accumsan porttitor maximus. Nam fringilla euismod viverra. Fusce feugiat nulla sit amet mauris consequat rutrum. Nulla et elementum sem. Nullam pharetra diam sit amet lacus laoreet lobortis. Mauris laoreet et nunc id fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	</div>
</article>
<article class="army">
	<div class="army-inner">
		<h2>The conquerors</h2>
			<p>Pellentesque quis aliquam est. Cras vitae enim varius, lobortis lectus non, egestas diam. Nulla facilisi. Nullam luctus nulla sit amet neque sagittis cursus. Morbi et justo pulvinar lectus feugiat venenatis. Aenean pulvinar velit quis diam vehicula, eget accumsan neque molestie. Vivamus maximus elit sed fringilla ornare. Nulla nec neque consectetur, facilisis velit aliquet, scelerisque neque. Vivamus eu condimentum leo. Nunc vitae risus mollis, consectetur mauris varius, fringilla arcu. Suspendisse id rhoncus neque, nec posuere felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed lacinia velit tortor, ut interdum est iaculis sed. Vestibulum vitae nunc urna. Nam vulputate volutpat magna non malesuada. Duis ornare imperdiet tellus at pharetra.</p>
	</div>
</article>
<article class="religon">
	<div class="religon-inner">
		<h2>Religion</h2>
			<p>Cras lobortis et lectus quis hendrerit. Nulla purus neque, rhoncus ut auctor et, placerat in est. Curabitur dapibus porta turpis et convallis. Aliquam consequat lacus sed nisl faucibus, quis vulputate erat viverra. Suspendisse velit nibh, mollis sed tempor vel, ultricies nec urna. Curabitur magna augue, ullamcorper eu enim vel, molestie tincidunt magna. Curabitur in magna a mauris vestibulum porttitor. Mauris aliquet maximus turpis, a pulvinar velit placerat eu. Donec nec magna sapien. Cras ut nunc turpis. Nulla nec neque eu ex vehicula faucibus non ut erat.</p>
	</div>
</article>
<article class="sport">
	<div class="sport-inner">
		<h2>Sport</h2>
			<p>Pellentesque enim nisi, rutrum sed lacus vitae, sollicitudin laoreet ligula. Vestibulum tincidunt auctor lacus quis viverra. Quisque aliquam hendrerit erat id tincidunt. Nunc accumsan porttitor maximus. Nam fringilla euismod viverra. Fusce feugiat nulla sit amet mauris consequat rutrum. Nulla et elementum sem. Nullam pharetra diam sit amet lacus laoreet lobortis. Mauris laoreet et nunc id fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	</div>
</article>
<article class="food">
	<div class="food-inner">
		<h2>Fine Dining</h2>
		<p>Pellentesque enim nisi, rutrum sed lacus vitae, sollicitudin laoreet ligula. Vestibulum tincidunt auctor lacus quis viverra. Quisque aliquam hendrerit erat id tincidunt. Nunc accumsan porttitor maximus. Nam fringilla euismod viverra. Fusce feugiat nulla sit amet mauris consequat rutrum. Nulla et elementum sem. Nullam pharetra diam sit amet lacus laoreet lobortis. Mauris laoreet et nunc id fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	</div>
</article>	

{% if error %}
  <p> {{ error }} </p>
{% endif %}
</div>
{% endblock %}
