{% extends "template.html" %}

{% block page %}Rome Quiz{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}


{% block content %}

				<form method="post">
					<div class = "row">
					<div id = "q1" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label for="king">Who was the first emporer</label>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<input type="radio" name="king" value="romulus" class="radio">Romulus
					<input type="radio" name="king" value="remus" class="radio">Remus
					</div>
					</div>
					<div class = "row">
					<div id = "pass" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label>Password</label>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<input type="text" placeholder="Password" name="password" value="{{ request.form.password }}" id="password">
					</div>
					</div>
					<input type="submit" name="submit" id ="submit">
					</form>


{% if error %}
  <p> {{ error }} </p>
{% endif %}
</div>
{% endblock %}